{% extends 'base.html.twig' %}

{% block title %} @pi-platorm {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
            <h1>Welcome to api Platform Train</h1>
    </div>
{% endblock %}
